<table id="table_id" class="display" style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
    </tr>
    </thead>
    <tbody>
    {{#each vehicle}}
    <tr>
        <td> {{this.name}}/td>
        <td> {{this.name}}</td>
        <td> {{this.name}}</td>
        <td> {{this.name}}</td>
        <td> {{this.name}}</td>
        <td> {{this.name}}</td>
    </tr>
    {{/each}}

        </tbody>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Start date</th>
        <th>Salary</th>
    </tr>
    </tfoot>
</table>


<script>
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>
